:root {
  --bg: black;
  --bg-accent: grey;
  --text-color: white;
  --nav-size: 70px;
  --border: 1px solid grey;
  --border-radius: 8px;
  --speed: 500ms;
}

.navbar {
  height: auto;
  background-color: #b2a9bb;
  padding: 0 1rem;
  font-size: 25px;
  /*border-bottom: var(--border);*/
}

.asc-desc-button{
  height: auto;
  background-color: #b2a9bb;
  margin: auto;
}

.asc-desc-button > button{
  border: none;
  height: 30px;
  width: 30px;
}

.nav-item > a {
  text-decoration: none;
  color: #272329;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button-and-text{
  --button-size: calc(var(--nav-size)) * width: var(--button-size);
}

body {
  background-color: #211210;
}

.list-container {
  background-color: #cfcfd1;
  height: 1500px;
  max-width: 500px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item-container{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 480px;
  height: 70px;
  background-color: #272329;
  color: #b2a9bb;
  font-size: 22px;
  /*display: flex;*/
}

.toolbar {
  background-color: #cfcfd1;
  height: 75px;
  max-width: 850px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.app-name {
  width: 3000px;
}

.add-item-form{
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  background-color: #cfcfd1;
  width: 500px;
}